.Page {
    position: relative;
    height: 100vh;
    padding: 30px 20px;
}

.LogoContainer {
    padding: 100px 40px !important;
    text-align: right;
}

.FormContainer  {    
    padding: 40px 60px !important;
    border-radius: 5px;
}

.FormTitle {
    margin-bottom: 25px;
    padding: 6px; 
    text-align: center
}