.Page {
    position: relative;
    min-height: 100vh;
    padding: 20px 10px;
}

.Title {
    font-family: 'Alkatra', cursive;
}

.LogoContainer {
    padding: 40px !important;
    text-align: right;
}

.LogoContainer h1 {
    margin-top: 10px;
}

.FormContainer  {    
    padding: 70px 60px !important;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 2px grey inset;
}

.FormTitle {
    margin-bottom: 25px;
    padding: 6px; 
    text-align: center
}