.Page {
    position: relative;
    color: white;
    height: 100vh;
    padding: 30px 20px;
    background-color: #24282c;
}

.LogoContainer {
    padding: 100px 40px !important;
    text-align: right;
}

.FormContainer  {
    color: black;
    padding: 40px 60px !important;
    background-color: white;
    border: 8px outset #6c757db5;
    border-radius: 5px;
}

.FormTitle {
    margin-bottom: 25px;
    border: 3px outset #6c757db5; 
    padding: 6px; 
    text-align: center
}