.ResultPage {
    min-height: 100vh;
    position: relative;
    padding: 25px 20px;
}

.TopContainer {
    display: flex; 
    padding: 10px 0px 10px 10px;
}

.Input {
    margin-left: 30px;
    border-radius: 0px;
    height: 50px;
}

.Button {
    text-align: left;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
}

.SideContainer {
    padding: 0px 20px !important;
    text-align: right;
}

.ResultContainer  {    
    padding: 0px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px grey inset;
    height: 80vh;
    background-color: #202124; 
    color: white;
}

.Almighty {
    padding: 28px 30px!important;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px grey inset;
    height: 80vh;
    background-color: #202124; 
    color: white;
    overflow-y: scroll;
}

.Title {
    color: white;
    margin-left: 10px; 
    cursor: pointer; 
    font-family: 'Alkatra', cursive
}

.Image {
    border-radius: 60px;
    cursor: pointer;
    position: absolute;
    -webkit-animation:spin 20s ease-in-out infinite;
    -moz-animation:spin 20s ease-in-out infinite;
    animation:spin 20s ease-in-out infinite;
}
@-moz-keyframes spin { 
    50% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    50% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    50% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}