.ResultPage {
    min-height: 100vh;
    position: relative;
    padding: 25px 20px;
}

.TopContainer {
    display: flex;
    padding: 20px 10px;
}

.Input {
    margin-left: 22px;
    border-radius: 5px;
    height: 50px;
}

.Button {
    text-align: left;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
}

.SideContainer {
    padding: 20px 20px !important;
    text-align: right;
}

.ResultContainer  {    
    padding: 0px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px grey inset;
    min-height: 90vh;
}